<h1>Create New Post Form</h1>

<form action="<%= posts_path %>" method="post">
  <label for="post_title">Post title:</label><br>
  <%= text_field_tag :'post[title]' %>
  <br>
  <br>

  <label for="post_description">Post description:</label><br>
  <%= text_field_tag :'post[description]' %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" value="Submit Post">
</form>

<%= params.inspect %>
